<div class="nav-bar-container">
    <div class="nav-content">
        <div (click)="homePage()" class="logo-section">

        </div>
        <div class="links-section">
            @if (navItems.length>0) {
            <ul>
                @for (item of navItems; track $index) {
                    <li [ngClass]="{'active-item': item.active}"(click)="selectItem(item)">{{item.name}}
                        @if(item.icon){
                            <i class="{{item.icon}}"></i>
                        }
                        
                    </li>
                }
            </ul>
            }

        </div>
    </div>

</div>